


.inputFieldSize {
    width: 40%;
}

.listFieldSize {
    width: 40%;
}

span {
    cursor: pointer;
}

i {
    cursor: pointer;
}

/* .cIcon, .tIcon {
    pointer-events: none;
} */

@media only screen and (max-width: 600px) {
    .inputFieldSize {
      width: 70%;
    }

    .listFieldSize {
        width: 70%;
    }
}
